In [2]:
# 거듭제곱
var_01 = 3
print('거듭제곱 :', var_01**2)
print('거듭제곱 :', pow(var_01,2))

거듭제곱 : 9
거듭제곱 : 9

### 파이썬 모듈을 이용한 수학계산

In [3]:
import math

In [4]:
# 거듭제곱
math.pow(var_01, 2)

9.0

In [5]:
# 제곱근
math.sqrt(var_01)

1.7320508075688772

In [9]:
# sin 45
math.sin(45)

0.8509035245341184

In [7]:
# sin 45의 제곱 더하기 cos 45의 제곱 구하기
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

### 난수 발생

In [10]:
import random

In [11]:
random.randint(1,100)

22

In [13]:
# 로또 번호 생성기
lotto_list = range(1, 46)
random.sample(lotto_list, 6)

[18, 31, 25, 41, 19, 16]

In [20]:
# 반올림
print(round(2.5))
print(round(3.5))

print(round(123.45,1))
print(round(123.456,2))

2
4
123.5
123.46

In [21]:
# 올림
math.ceil(1.1)

2

In [22]:
# 내림
math.floor(1.9)

1

In [23]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_21',
 '_22',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'open',
 'os',
 'quit',
 'random',
 'sys',
 'var_01']

In [24]:
var_01

3

In [26]:
# 제거
del var_01
var_01

NameError: name 'var_01' is not defined

---
### 관계 연산자

In [27]:
num1 = 100
num2 = 20

In [29]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

In [32]:
# 논리연산자
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [34]:
not(num1 >= 50)

False

In [35]:
!ls

01.Preview.ipynb             =
02.변수와 자료형.ipynb

---
### 문자열 자료형

In [36]:
var_01 = "Hellow World"
var_01

'Hellow World'

In [38]:
# 여러줄의 문자열 출력
var_01 = """
    Hellow World!
    Good to meet you!
"""
print(var_01)

    Hellow World!
    Good to meet you!

In [41]:
# 쌍따옴표와 홑따옴표의 사용
var_01 = "My father's wife is my mother."
var_02 = 'He says "I love you."'
print(var_01)
print(var_02)

My father's wife is my mother.
He says "I love you."

In [43]:
# 문자열 연산(덧셈)
var_01 = "Python"
var_02 = "is fun."

print(var_01 + var_02)
print(var_01, var_02)

Pythonis fun.
Python is fun.

In [44]:
# 문자열 연산(곱셈)
print(var_01 * 3)

PythonPythonPython

In [46]:
print('=' * 20 + '\nPython\n' + '=' * 20)

====================
Python
====================

In [51]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmnopqrstuvwxyz"

print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[5:-2])

a
abc
z
fghijklmnopqrstuvwxyz
abcde
fghijklmnopqrstuvwx

In [54]:
str = "20221229Snow"
print(str[:4], str[4:8], str[8:])

2022 1229 Snow

In [61]:
str = "abbde"

# abcde로 출력하기
print(str[:2] + "c" + str[3:])

abcde

---
### 문자열 Formatting
%s, %d, %f

In [62]:
print("I have %d apples."%2)

I have 2 apples.

In [64]:
number = 2
print("I have %d apples."%number)

I have 2 apples.

In [65]:
print("I have %s apples."%"two")

I have two apples.

In [66]:
number = 2
fruit = "apples"
print("I have %d %s."%(number,fruit))

I have 2 apples.

In [69]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [71]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

---
### 문자열 관련함수

In [73]:
str = "I have a dream"
print(str.count('a'))
print(len(str))

3
14

In [76]:
print(str.find("e"))
print(str.find("x"))

5
-1

In [77]:
str = ","
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [78]:
str = 'hi'
str.upper()

'HI'

In [82]:
str = 'HI'
str.lower()

'hi'

In [83]:
str = '     hi'
str.lstrip()

'hi'

In [84]:
str = 'hi     '
str.rstrip()

'hi'

In [85]:
str = '    hi     '
str.strip()

'hi'

In [86]:
str = 'Life is too short to be happy'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy'

In [91]:
str = 'Life is too short to be happy'
list01 = str.split()

print(list01)
print(type(list01))
print(list01[0])

['Life', 'is', 'too', 'short', 'to', 'be', 'happy']
<class 'list'>
Life

In [93]:
str02 = 'a:b:c:d'
str02.split(':')

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [94]:
"I have {0} apples.".format(3)

'I have 3 apples.'

In [95]:
"I have {0} apples.".format("three")

'I have three apples.'

In [96]:
number = 3
"I have {0} apples.".format(number)

'I have 3 apples.'

In [97]:
number = 10
day = 'three'
"I have {0} apples, I will go aboard for {1} days".format(number, day)

'I have 10 apples, I will go aboard for three days'

In [98]:
"{0:<10}".format('hi')

'hi        '

In [99]:
"{0:>10}".format('hi')

'        hi'

In [100]:
"{0:^10}".format('hi')

'    hi    '

In [101]:
"{0:-^10}".format('hi')

'----hi----'

In [102]:
"{0:!>10}".format('hi')

'!!!!!!!!hi'

In [103]:
y = 3.141592
"{0:0.2f}".format(y)

'3.14'

In [104]:
"{0:10.2f}".format(y)

'      3.14'

In [106]:
# f
name = '홍길동'
age = 30
f'나의 이름은 {name} 이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동 이고 나이는 30세 입니다.'

In [107]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

---
### 날짜형 변환

In [108]:
from datetime import datetime, timedelta

In [113]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [111]:
time2 = datetime.now()
print(time2)

2023-01-16 13:58:55.690926

In [114]:
print(time2 - time1)

21 days, 16:58:55.690926

In [115]:
print(type(time2))

<class 'datetime.datetime'>

In [116]:
print((time2 - time1).days, '일')

21 일

In [120]:
print(time2 + timedelta(days=5))
print(time2 + timedelta(days=-3))
print(time2 + timedelta(days=1, hours=-2))

2023-01-21 13:58:55.690926
2023-01-13 13:58:55.690926
2023-01-17 11:58:55.690926