## range 함수

In [1]:
var = range(1, 11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# 0 ~ 10까지의 짝수
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [9]:
# 10 ~ 1까지의 짝수
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
import math

In [52]:
# 1에서 10까지의 제곱근을 출력하기
for i in range(1,11,1):
    print(f"{i:>2} : {math.sqrt(i):0.8f}")
print("\n")
for i in range(10):
    print("{:>2} : {:0.8f}".format(i+1, math.sqrt(i+1)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766


 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [55]:
print("aaaa", end = " ")
print("bbbb")

aaaa bbbb

In [64]:
for i in range(2,10):
    print(f"{i}단 :", end="")
    for j in range(1,10):
        print(f"{i*j:>2}", end=" ")
    print()

2단 : 2  4  6  8 10 12 14 16 18
3단 : 3  6  9 12 15 18 21 24 27
4단 : 4  8 12 16 20 24 28 32 36
5단 : 5 10 15 20 25 30 35 40 45
6단 : 6 12 18 24 30 36 42 48 54
7단 : 7 14 21 28 35 42 49 56 63
8단 : 8 16 24 32 40 48 56 64 72
9단 : 9 18 27 36 45 54 63 72 81

In [65]:
# for문에 List 사용하기
lists = ['one', 'two', 'three']

for list in lists:
    print(list)

one
two
three

In [67]:
# for문에 Tuple 사용하기
vars = [(1,2), (3,4), (5,6)]

for first, last in vars:
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

In [69]:
scores = [90, 25, 67, 45, 80]
students = 1

for score in scores:
    print(f"{students}의 학생은 {'합격' if score >= 60 else '불합격'} 입니다.")
    students += 1

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [1]:
scores = [90, 25, 67, 45, 80]
students = 1

for score in scores:
    print(f"{students}의 학생은 점수가 {score}이므로 {'합격' if score >= 60 else '불합격'} 입니다.")
    students += 1

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [5]:
import numpy as np

In [12]:
scores = [90, 25, 67, 45, 80]
students = 1

print(f"학급의 평균 점수는 {np.mean(scores):.2f} 입니다.\n")
for score in scores:
    print(f"{students}의 학생은 점수가 {score}이므로 {'합격' if score >= np.mean(scores) else '불합격'} 입니다.")
    students += 1

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이므로 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이므로 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [13]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i * 5)

print(var02)

[5, 10, 15, 20]

In [15]:
scores = [90, 25, 67, 45, 80]
studentsList = []
students = 1

for score in scores:
    if score >= 60:
        studentsList.append(students)
        students += 1
    else:
        students += 1
        
print(studentsList)

[1, 3, 5]

---
### 문장과 단어 추출

In [35]:
string  = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [36]:
sents = []
words = []

In [37]:
# 문단 -> 문장
for sen in string.split(sep="\n"):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

In [38]:
print("문장 :", sents)
print("문장 수 :", len(sents))
print("단어 :", words)
print("단어 수 :", len(words))

문장 : ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장 수 : 3
단어 : ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어 수 : 9

---
### Python의 Listed For문

In [39]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]
print(var02)

[5, 10, 15, 20]

In [40]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 == 0]
print(var02)

[10, 20]

In [48]:
# 구구단 결과만 리스트로 만들기
print([i * j for i in range(2,10) for j in range(1,10)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [54]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
scores = [90, 25, 67,45, 80]

print(f"합격한 학생들의 평균 점수는 {np.mean([score for score in scores if score >= 60]):.2f}입니다.")

합격한 학생들의 평균 점수는 79.00입니다.